<%-include('./partials/head')%>
<body>
    <header>
        <h1>Jokebook</h1>
    </header>
    <main>
        <section id="main">
            <% jokesList.forEach((joke) => { %>
                <div class="joke">
                    <h2 id="setup-content"><%= joke.setup %></h2>
                    <p id="delivery-content"><%= joke.delivery %></p>
                </div>
            <% }) %>
        </section>
        <%- include('./partials/form-more') %>
    </main>
</body>
</html>