<%-include('./partials/head')%>
<body>
    <header>
        <h1>Jokebook</h1>
    </header>
    <main>
        <section id="main">
                <div class="joke">
                    <h3 id="setup-content"><%= joke.setup %></h3>
                    <p id="delivery-content"><%= joke.delivery %></p>
                </div>
        </section>
        <%- include('./partials/form-more') %>
    </main>
</body>
</html>